
body {
   font-family: 'Roboto', sans-serif;
   line-height: 2.5em;
   text-align: right;
   border-right: solid #3fe694;
   border-width: 6px;
}

span {
   text-align: left;
   font-size: 6rem;
   letter-spacing: 1.1rem;
   line-height: 1em;
   padding-left:10px;
}

h1 {
   height: 450px;
   width: 50%;
   background-color: #acc4ce;
   font-family: 'Roboto', sans-serif;
   font-weight: lighter;
   padding-top: 15px;
   text-align: left;
   margin-top: 100px;
   margin-bottom: 100px;
}

li {
   list-style-type: none;
   counter-reset: ol-counter;
   letter-spacing: .5em;
}

div {
   top:98px;
   right:30px;
   position:fixed;
}


#ten {
   padding-left: 16px;
   font-size: 1em;
   letter-spacing: .1em;
   line-height: 8px;
}

li:hover {
   color: #3fe694;
   font-size: 1.3em;
   letter-spacing: .75rem;
}
