body {
   font-family: Georgia;
}

span {
   text-align: left;
   font-size: 12rem;
}

h1 {
   height: 400px;
   width: 100%;
   background-color: #acc4ce;
   font-family: Georgia;
   margin: none;
   padding-top: 20px;
   font-size: 4em;
   text-align: right;
}

